body {
    font-family: Roboto;
    background-color:goldenrod;
    color:blue;
}

h1, h2, h3, h4, h5, h6{
    font-family:"tilt prism";
}
h1 {
    font-size:40pt
}

header {
    text-align:center;
}

#hero, footer {
    color:cornflowerblue;
    border: 2px solid;
    background-color:beige;
    text-align:center;
    padding: 10px
}

#hobbies h2 {
    color:aquamarine;
    box-shadow:aliceblue (24, 108, 80);
    box-shadow:3pt;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#photogallery {
    box-shadow:darkcyan;
    box-shadow: 1pt;
    text-align: center;
    background-color:brown;
}

#article {
    text-align: center;
    color:darksalmon;
    border: 2px solid darkgoldenrod;

}

#hero img {
    width:300px;
}

#bio {
    text-align:left ;
}

#hobbiestitle {
    color:blueviolet;
    text-align: center;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
}

/*Lit Section*/

#lit p:first-letter {
    color:bisque  ;
    font-size: 16pt;
    padding: 1ex;
    font-weight:bold;
    background-color:coral;
    text-shadow: 2px 3px;
    box-shadow: 3px 3px;
}

    

/* Media Queries */

@media screen and (min-width: 768px) {

    #gallery figure  {
        display:grid;
        grid-template-columns: 2fr lfr; 
    }
    #gallery figcaption {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #lit div {
        max-width:100%;
        columns: 30rem;
        text-align:justify;
    }
}

@media screen and (min-width: 1200px) {

    #gallery {
        display:grid;
        grid-template-columns: lfr lfr lfr; 
    }

    #gallery hr {
        display:none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery figure {
        display:block;
    }
}

 